@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Poppins-Regular;
    src: url('../../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Montserrat-Bold;
    src: url('../../fonts/montserrat/Montserrat-Bold.ttf');
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(218, 216, 216);
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb {
    filter: blur(8px);
    -webkit-filter: blur(8px);
    background: #5c5c5c;
    border-radius: 10px;
}

body {
    width: 100%;
    height: 100px;
    background: #eee;
}

li {
    text-decoration: none;
}

a,
button {
    font-family: Poppins-Medium;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    color: #000;
}

.container_welcome {
    width: 100%;
    height: 1200px;
}